%header

  %ul.header-right
    %li.header-right__current-group= @group.name
    %span.header-right__head member :
    -@group_users = @group.users
    =render partial: 'group_user', collection: @group_users
    =link_to edit_group_path(@group) do
      %ul.header-right__editbox
        %li.header-right__editbox__edit Edit
  %ul.header-user
    %li.header-user__name= current_user.name
    = link_to new_group_path do
      %i.fa.fa-pencil-square-o
    = link_to edit_user_registration_path do
      %i.fa.fa-cog
.right-content
  -@group_messages = @group.messages
  =render partial: 'group_message', collection: @group_messages
.left-content
  -@left_contents = current_user.groups
  =render partial: 'users/left_content', collection: @left_contents
%footer
  = form_for @message, :url => {:action => :create} do |f|
    .text-box
      =f.text_area :body, :cols =>"30",:placeholder => "type a message",:rows =>"16"
      %i.fa.fa-file-image-o.fa-2x
    .send-box
      =f.submit "Send",class: 'send-box__button'
